<div class="sidebar" data-color="pruple" data-background-color="white" data-image="../../../assets/img/sidebar-1.jpg">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a href="#" class="simple-text logo-normal">Correspondencia</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" *ngFor="let item of funcionalidad_padre" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[item.url]">
                    <i class="material-icons">library_books</i>
                    <p>{{ item.nombre }}</p>
                </a>
            </li>
            <!-- <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/interno']" routerLinkActive="router-link-active">
                    <i class="material-icons">library_books</i>
                    <p>Correspondencia Interna</p>
                </a>
            </li>
            <li class="nav-item " [routerLink]="['/bandejaEntrada']" routerLinkActive="router-link-active">
                <a class="nav-link">
                    <i class="material-icons">unsubscribe</i>
                    <p>Bandeja de Entrada</p>
                </a>
            </li>
            <li class="nav-item " [routerLink]="['/bandejaSalida']" routerLinkActive="router-link-active">
                <a class="nav-link">
                    <i class="material-icons">textsms</i>
                    <p> {{ }} </p>
                </a>
            </li> -->
        </ul>
    </div>
</div>
<!-- 
#005cb4
    .btn-primary {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #0c83e2;
  border-color: #0c7cd5;
}


 -->